.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
  background-color: #f7feff;
  color: #1e1e1e;
}
.navbar ul {
  display: flex;
  transform: translateX(0px);
}
.navbar li {
  margin-right: 20px;
  padding: 10px 0px;

  cursor: pointer;
}
.navbar li#actual {
  font-weight: 700;
}
.navbar li:hover {
  margin-right: 20px;
  animation: upToDown 0.4s;
}
.navbar hr {
  box-shadow: 0 3px 8px gray;
}
@keyframes upToDown {
  50% {
    transform: translateY(6px);
    opacity: 0;
  }
  51% {
    transform: translateY(-6px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu {
  display: none;
}
@media screen and (max-width: 720px) {
  .navbar ul {
    display: none;
  }
  .menu {
    display: block;
    position: fixed;
    top: 0px;
    right: 0;
  }
  .navbar {
    height: 44px;
  }
}
