.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
  background-color: #f7feff;
  color: #1e1e1e;
}
ul {
  display: flex;
  margin-right: 60px;
}
li {
  margin-right: 20px;
  padding: 10px 0px;

  cursor: pointer;
}
li#actual {
  font-weight: 700;
}
li:hover {
  margin-right: 20px;
  animation: upToDown 0.4s;
}
hr {
  box-shadow: 0 3px 8px gray;
}
@keyframes upToDown {
  50% {
    transform: translateY(6px);
    opacity: 0;
  }
  51% {
    transform: translateY(-6px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
