.navbar {
  width: 100%;
  background-color: #f7feff;
  color: #263238;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.navbar-buttons a {
  margin-left: 20px;
  display: inline-block;
  height: 100%;
  padding: 15px 20px 15px 5px;
  transition: 0.2s;
}
.navbar-buttons a:nth-of-type(1) {
  font-weight: 700;
}
.navbar-buttons a:hover {
  transform: scale(1.05);
}
