body {
  background-color: #f7feff;
  color: #1e1e1e;
}
.top {
  margin-left: 80px;
  margin-top: 20px;
  padding-bottom: 50px;
}
.top-left {
  float: left;
  width: 60%;
  margin-top: 15px;
}
.top-left div:nth-of-type(1) {
  display: inline-block;
  background-color: #d0f6ff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: 700;
  margin-bottom: 30px;
}
.top-left div {
  margin-bottom: 30px;
}
.top-left div:nth-of-type(2) {
  font-size: 3em;
  width: 450px;
}
.top-left div:nth-of-type(3) {
  width: 450px;
}
.top-left div:nth-of-type(4) {
  display: inline-block;
  background-color: #d0f6ff;
  padding: 12px 80px;
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 50px;
}
.top-right img {
  width: 350px;
  margin-left: auto;
}
.functioning {
  background-color: #d0f6ff;
  text-align: center;
  margin-bottom: 50px;
}
.title {
  color: #21b7e2;
  padding: 20px 0 30px 0;
  font-size: 1.2em;
}
.subtitle {
  font-size: 1.6em;
  padding-bottom: 20px;
}
.cards-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: white;
  border-radius: 10px;
  width: 260px;
  margin-bottom: 10px;
}
.card div:nth-of-type(1) {
  font-size: 1.3em;
  padding: 10px 0;
  color: #21b7e2;
}
.card div:nth-of-type(1)::first-letter {
  font-size: 1.4em;
}
.card div:nth-of-type(2) {
  font-size: 1.3em;
  color: #1e1e1e;
}
.card img {
  width: 150px;
  margin: auto;
}
.services {
  text-align: center;
}
.cards2-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card2 {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 10px;
  transition: 0.3s;
  padding: 15px 0 0 20px;
}
.card2:hover {
  transform: scale(1.05) translateY(-5px);
  background-color: #d0f6ff;
}
.card2:hover input {
  background-color: #21b7e2;
}
.card2 div:nth-of-type(1) {
  display: flex;
  margin: 0;
}
.card2 img {
  width: 30px;
}
.card2-title {
  color: #21b7e2;
  font-size: 1.2em;
  padding-left: 8px;
  transform: translateY(7px);
}
.card2 div:nth-of-type(2) {
  text-align: initial;
  margin: 0 0 20px 38px;
  font-size: 0.8em;
}
.card2 div:nth-of-type(3) {
  text-align: initial;
  color: gray;
}
.card2 ul {
  text-align: initial;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 700;
}
.card2 li {
  display: flex;
  animation: none;
}
.card2 hr {
  border-style: dashed;
  border-width: 1px;
  margin: 25px 0 100px 0;
  border-color: #1e1e1e;
}
.card2 div:nth-of-type(4) {
  text-align: initial;
  margin-bottom: 30px;
}
.card2 div:nth-of-type(4) span {
  font-weight: 700;
}
.card2 input {
  cursor: pointer;
  width: 80%;
  border-radius: 20px;
  padding: 6px 0;
  font-weight: 700;
  background-color: #d0f6ff;
  margin-bottom: 25px;
}
