.menu-box,
.menu-animated {
  z-index: 1;

  width: 45px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transform: translateY(5px);
}
/* 
45px => valeur actuelle
largeur de menu voulue => ?

*/
.menu-top {
  align-self: center;
  margin: 3px 0px 2px 0px;
  width: 26px;
  height: 2px;
  z-index: 999;
  border-radius: 5px;
  background-color: gray;
  transition: all 0.5s;
}
.menu-middle {
  align-self: center;
  margin: 1px 0 2px 0;
  width: 26px;
  z-index: 999;
  height: 2px;
  border-radius: 5px;
  background-color: gray;
  opacity: 1;
  transition: all 0.5s;
}
.menu-bottom {
  align-self: center;
  margin: 1px 0 3px 0;
  width: 26px;
  z-index: 999;
  height: 2px;
  border-radius: 5px;
  background-color: gray;
  transition: all 0.5s;
}
.menu-box:hover .menu-middle {
  transform: translateY(3px);
}
.menu-box:hover .menu-bottom {
  transform: translateY(6px);
}

.menu-animated .menu-top {
  transform-origin: top left;
  transform: translateY(0.5px) translateX(8px) rotate(45deg);
}
.menu-animated .menu-middle {
  transform: translateX(20px);
  opacity: 0;
  display: none;
}
.menu-animated .menu-bottom {
  transform-origin: left;
  transform: translate(6px, 13px) rotate(-45deg);
}
.sidebar {
  position: fixed;
  right: 0px;
  margin-left: auto;
}
